/* 
commentaires
multi-lignes
*/
selecteur {
    cle: valeur;
    cle2: valeur2;
}

/* selecteur par balise */
foo {
    cle: valeur;
}

/* selecteur par classe */
.bar {
    cle: valeur;
}

/* selecteur par id  */
#baz {
    cle: valeur;
}

/* selecteur par descendance */
/* sélectionne tous les balises bar contenues dans une balise foo  */
foo bar {
    cle: valeur;
}

foo bar baz {
    cle: valeur;
}

foo .lorem{
cle: valeur;
}

foo #baz {
    cle: valeur;
}

/* selecteur par descendance directe*/
/* sélectionne tous les balises bar directement contenues dans une balise foo  */
foo > baz {
    cle: valeur;
}
